body{
    text-align: center;
    background: linear-gradient(to bottom,rgb(168, 78, 219), rgb(129, 9, 199),rgb(168, 78, 219));
    background-size: 500px 1000px;
    background-repeat: repeat; 

}

header {
    font-size: 100px;
    position: relative;
    background-image: url('Bilder/Header_forrest.png');
    background-size:cover; 
    background-position: center;
    font-family: 'Tagesschrift', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    color:rgb(94, 13, 13)

}

.navigationList {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-family: "Zen Dots", sans-serif;
    font-size: 50px; 
    font-weight: normal;
    list-style: none; 
    padding: 10px; 
}
.navigationList a {
    text-decoration: none; 
    color: teal; 
    transition: 0.3s; 
    font-weight: 400;
    font-style: normal;
}

.navigationList a:hover {
    color: orangered; 
}
.section-image {
    width: 500px; 
    height: auto; 
    object-fit: cover; 
    border-radius: 25px;
}
.footer-links {
    display: flex;
    gap: 20px; 
    justify-content: center;
    align-items: center;
}

.footer-links a {
    text-decoration: none;
}

.footer-links img {
    width: 80px;
    height: auto; 
}