body{
background: linear-gradient(purple,rgb(81, 33, 126),purple);
color: antiquewhite;
text-align: center;
}

header{
    font-style: italic;
    font-size: 210%;
    nav-left: auto;
    
}

.navigationList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navigationList li {
    margin: 20px;
}

.navigationList a {
    text-decoration: none;
    background-color: #007BFF; 
    color: white;
    padding: 10px 20px;
    border-radius: 5px; 
    display: inline-block;
    transition: 0.3s ease;
}

.navigationList a:hover {
    background-color: #0056b3;
}